.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
}

.center {
  text-align: center;
}

.full-height {
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

.form-box {
  padding: 10px 20px;
  box-shadow: 0px 0px 15px #000;
}

.flex.v-center {
  align-items: center;
}

.form-box > form {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width:767px) {
  .form-box > form {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-box .form-control {
  margin-bottom: 10px;
}

.form-box .btn.btn-block {
  margin-top: 25px;
}

.form-box img {
  margin-bottom: 15px;
}

.avatar.round {
  border-radius: 50%;
}

.avatar {
  border: 1px solid black;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
}

